{%extends 'base.html'%}

{% block content %}


<div class="container">
    <div class="row">
        <div class="profile" style="margin-top:-5%">
            <img src="{{profile.profile_pic.url}}" class="img-responsive avatar"alt="avatar"style="border-radius:50%"width="300"height="300">
        </div>

        <div class="imagecaption" style="margin-left: 15%">
            <h5 ><b>username:</b>{{profile.user}}</h5>
            <h5><b>Am:</b>{% autoescape on %}
                {{profile.bio| safe}}
                {% endautoescape %}</h5>
        </div>
    </div>
    

    
    </div>
</div>
{% endblock %}
